# ─── App ──────────────────────────────────────────────────────────────────────
PORT=3001
NODE_ENV=development
BASE_URL=https://whatsapp.printhub.africa                # Public URL (no trailing slash)


# ─── WhatsApp Business API ────────────────────────────────────────────────────
WHATSAPP_PHONE_NUMBER_ID=1066194946578452
WHATSAPP_BUSINESS_ACCOUNT_ID=964627949394217
WHATSAPP_ACCESS_TOKEN=EAAXwZBbnEIWMBRE7bdXv2CMxdPujJsTZAlC4n4yzRXHmTGhyofJZBhRR9pMbnme0guTKZCGM4NKX72gtKbdgAPWZCtgHsHhPZBtKDmye62fi5WRDqLWTaSroBrOQZAIvGUyiYCf5iIQyz9wfKwim6jqA3uh1Q9H1VQY1ucnIeneb3UPUmdZAOgP8499fyegM5ukUnaHFQvZBXqlY88KwqZB2IFXX1EpuXZCEtUXe03j2vnD9rE8ZCkkthWPycZAvZAtZCOpwWFA5sHfEE90q7fS2wHiJe4mZAnr5iwQZD
WHATSAPP_APP_SECRET=a47a4a955bb088564cde1407e7e10104        # App Settings > Basic in Meta Developer Console
WHATSAPP_PHONE_NUMBER=+254792732929                      # Your business number (display only)
WHATSAPP_VERIFY_TOKEN=printhub_verify_2024               # Must match what you enter in Meta webhook config
WHATSAPP_API_VERSION=v19.0


# ─── Database ─────────────────────────────────────────────────────────────────
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/printhub_whatsapp?retryWrites=true&w=majority
ALLOWED_ORIGINS=https://printhub.africa,https://admin.printhub.africa,http://localhost:3000

# ─── Dashboard Auth (change these!) ───────────────────────────────────────────
DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=AlphaTango92
JWT_SECRET="0edcb38298ac2de0f3c3d1447ee82194686c32a8b623f64fef9d3356c5b0803cb80c31bcdb68d6bd5d52c3f88933fb6274a117837254121d3394bb8bb97da5c2"
JWT_EXPIRES_IN=8h
INTERNAL_SECRET=9a20430bc95817792f03b412a350ec549f785e7855bce7984f3364d538dc5c733fcb2fea5dd8f7316de23fce363967b4ad7c6b4bc5891e7dc80e9f4cd414e908
# ─── Business Config ──────────────────────────────────────────────────────────
BUSINESS_NAME=PrintHub Africa
BUSINESS_HOURS_START=8                                   # 8am EAT
BUSINESS_HOURS_END=18                                    # 6pm EAT
BUSINESS_TIMEZONE=Africa/Nairobi
